{% extends "base.html" %}

{% block content %}
	<p class="text-right">
		<a href="{% url 'create-post' %}">Create new post</a>
	</p>
	{% if post_list %}
		{% for post in post_list %}
			<div class="m	t-1 mb-1">
				<h3><a href="{{ post.get_absolute_url }}"> {{ post.title }} </a></h3>
				<p class="text-muted small text-lg-right">Author {{ post.author }}, created {{ post.created_at|date:'d.m.Y H:i' }}</p>
					<div class="text-dark">
						{{ post.text|safe|truncatewords:50 }}
						<a href="{{ post.get_absolute_url }}"> Read more </a>
					</div>

				<span class="text-muted">
{#				Autor news feed #}
					{% if current_page == 'feeds' %}
						{% if post.pk in read_posts %}
							<p class="small text-info">Readed</p>
						{% else %}
							<p><a class="small text-danger" href="{% url 'mark-read' pk=post.pk%}"> Mark as read </a></p>
						{% endif %}
					{% else %}
{#				Other blog news feed #}
						{% if post.author != request.user %}
							<p><a href="{% url 'subscribe-to' pk=post.author.pk %}">Subscribe to {{ post.author }}</a></p>
						{% endif %}
					{% endif %}
				</span>
			</div>
			<hr>
		{% endfor %}

		{% if is_paginated %}
			<div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
					<a href="{{ next_link }}?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}
				<span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
				{% if page_obj.has_next %}
					<a href="{{ next_link }}?page={{ page_obj.next_page_number }}">next</a>
				{% endif %}
            </span>
			</div>
		{% endif %}
	{% else %}
		<h2>My Posts</h2>
		<p>No posts found!</p>
	{% endif %}
{% endblock %}